.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 10px 0;
}

.social {
    display: flex;
    gap: 7px;
    cursor: pointer;
}

@media (max-width: 779px) {
    .footer p {
        text-align: center;
    }
}