.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.avatarWhitBorder {
    box-sizing: initial;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: 2px solid coral;
    outline: 2px solid rgb(223, 230, 236);
}